/***********************************************************/
/* .acDatepicker .acButton */
/***********************************************************/
.acDatepicker .acButton {font-size: 1.3em;}

/*********************************************************************/
/* .acCalendar thead */
/*********************************************************************/
.acCalendar thead tr:first-child {background-color: #37CB9B;}

/*********************************************************************/
/* .acDatepicker .today */
/*********************************************************************/
.acDatepicker .today a {color: #37CB9B;}
.acDatepicker .today a:hover {background-color: #37CB9B;}