/*********************************************************************/
/* .acButton */
/*********************************************************************/
.acButton .dropdown-toggle {
	border-color: #000;
	border-radius: 3px;
	color: #fff;
	background-color: #454A52;
}

.acButton .active > button {border-radius: 3px 3px 0 0;}

.acButton:hover  .dropdown-multiselect >button,
.acButton .active > button {background-color: #373b41;}

/*********************************************************************/
/* .dropdown-menu */
/*********************************************************************/
.acButton .dropdown-menu {
	border-color: #000;
	border-radius: 0 0 3px;
	background-color: #fff;
}

/*********************************************************************/
/* .acButtonGroup */
/*********************************************************************/
.acButtonGroup .acButton .dropdown-toggle {border-radius: 0;}
.acButtonGroup .acButton:first-child button {border-radius: 4px 0 0 4px;}
.acButtonGroup .acButton:last-child button {border-radius: 0 4px 4px 0;}
